@import './base.css';

/* General custom styles */
.custom-gradient-text {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.custom-gradient {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
}
.custom-font-family {
    font-family: 'Cormorant_Garamond', serif, sans-serif;
}

.custom-border-gradient {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 2px;
    display: block;
    width: 100%;
    position: relative;
}

.custom-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background: url('@/assets/img/background.png') center;
}

/* Carousel overrides */
#main-carousel .carousel__prev,
#main-carousel .carousel__next {
    margin: 0 20px;
}
#main-carousel .carousel__prev {
    left: 30px;
}
#main-carousel .carousel__next {
    right: 30px;
}
@media (max-width: 768px) {
    #main-carousel .carousel__prev {
        left: 0;
    }
    #main-carousel .carousel__next {
        right: 0;
    }
}
@media (min-width: 768px) {
    #main-carousel.carousel {
        position: initial;
    }
}
@media (min-width: 1500px) {
    #main-carousel .carousel__prev {
        left: 70px;
    }
    #main-carousel .carousel__next {
        right: 70px;
    }
}

#quality-carousel .carousel__prev--disabled,
#quality-carousel .carousel__next--disabled {
    display: none;
}

#quality-carousel .carousel__prev,
#quality-carousel .carousel__next {
    top: 85%;
}

#quality-carousel .carousel__prev {
    left: 20px;
}
#quality-carousel .carousel__next {
    right: 20px;
}