@import './base.css';

/* General custom styles */
.custom-gradient-text {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.custom-gradient {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
}
.custom-font-family {
    font-family: 'Cormorant_Garamond', serif, sans-serif;
}

.custom-border-gradient {
    background: linear-gradient(180deg, var(--primary-gradient) 0%, var(--secondary-gradient) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 2px;
    display: block;
    width: 100%;
    position: relative;
}

.custom-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('@/assets/img/background.png') center;
    background-size: cover;
}

.custom-bg-image {
    background-image:url('@/assets/img/background.png');
    background-color: var(--primary-color)
}

.hide-last-border li:last-child .custom-border-gradient {
    display: none;
}

.border-right {
    border-right: 2px solid var(--secondary-gradient);
    height: 100%;
    position: absolute;
    top: 0;
}

.custom-circle-plus::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    display: block;
    width: 88px;
    height: 88px;
    background-color: var(--secondary-color);
    left: -10%;
    top: 25px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAABhWlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV/Tih9UFOwgIhKkOlkQFXHUKhShQqgVWnUwufQLmjQkKS6OgmvBwY/FqoOLs64OroIg+AHi7OCk6CIl/i8ptIj14Lgf7+497t4BQrXINCswDmi6bSZiUTGVXhXbX9GJIfQigGGZWcacJMXRcnzdw8fXuwjPan3uz9GtZiwG+ETiWWaYNvEG8fSmbXDeJw6xvKwSnxOPmXRB4keuKx6/cc65LPDMkJlMzBOHiMVcEytNzPKmRjxFHFY1nfKFlMcq5y3OWrHM6vfkLwxm9JVlrtMcRAyLWIIEEQrKKKAIGxFadVIsJGg/2sI/4PolcinkKoCRYwElaJBdP/gf/O7Wyk5OeEnBKND24jgfI0D7LlCrOM73sePUTgD/M3ClN/ylKjDzSXqloYWPgJ5t4OK6oSl7wOUO0P9kyKbsSn6aQjYLvJ/RN6WBvluga83rrb6P0wcgSV3Fb4CDQ2A0R9nrLd7d0dzbv2fq/f0AXOhynnVNKrcAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfoCR4QBSdPTpPMAAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAOhJREFUaN7t2NEJwjAYBOD7xXezgRnBETpCR8gIjqCTuEI3KG7gBtYJ7Abngy1IaQpKIyTcPZX/5ecLNKUHKN+FpCfZ8p07yTpnjBsQ01Spdm4SmyoAfmZe5wpykfkuV9DfI5BAAgkkkEACCSSQQAIJJFAh2Y4PJF2Cf/0qMvckw4p7egA3M+tswHgALeYLjZwSRlC7cJo5pR9BLO1SeJQGOhbiOdvHLXcAEBAvB3/JPvJudgCuK2MaM2uSHhfJwPlc9GEVSCCBBBJIIIEEEkgggQQSSCBloVNwJJ8znULIGTUtSk4p970AV8aVCgyOCOoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
}

@media screen and (min-width:768px) {
    .hide-last-border li:last-child .border-right {
        display: none;
    }
}

.advantages-list li .border-custom-right {
    border-right: 2px solid var(--secondary-gradient);
    height: 100%;
    position: absolute;
    top: 0;
}

/* Carousel overrides */
#main-carousel .carousel__prev,
#main-carousel .carousel__next {
    margin: 0 20px;
}
#main-carousel .carousel__prev {
    left: 30px;
}
#main-carousel .carousel__next {
    right: 30px;
}
@media (max-width: 768px) {
    #main-carousel .carousel__prev {
        left: 0;
    }
    #main-carousel .carousel__next {
        right: 0;
    }
}
@media (min-width: 768px) {
    #main-carousel.carousel {
        position: initial;
    }
}
@media (min-width: 1500px) {
    #main-carousel .carousel__prev {
        left: 70px;
    }
    #main-carousel .carousel__next {
        right: 70px;
    }
}

#quality-carousel .carousel__prev--disabled,
#quality-carousel .carousel__next--disabled {
    display: none;
}

#quality-carousel .carousel__prev,
#quality-carousel .carousel__next {
    top: 85%;
}

#quality-carousel .carousel__prev {
    left: 20px;
}
#quality-carousel .carousel__next {
    right: 20px;
}